{% extends 'user/base.html' %}
{% load static %}
{% block main_content %}
  <!-- Main Content -->
  <main class="body-content">

    <!-- Body Content Wrapper -->
    <div class="ms-content-wrapper ms-auth">

      <div class="ms-auth-container">
        <div class="ms-auth-col">
          <div class="ms-auth-bg"></div>
        </div>
        <div class="ms-auth-col">
          <div class="ms-auth-form">
            <form class="needs-validation" method="post" action="{% url 'verify_otp' %}" novalidate="">
              {% csrf_token %}
              <h3>OTP Verification</h3>
              
              <div class="mb-2">
                <label for="validationCustom09">OTP</label>
                <div class="input-group">
                  <input type="password" class="form-control" name="otp" id="validationCustom09" placeholder="OTP" required="">
                  <div class="invalid-feedback">Please provide a OTP.</div>
                </div>
              </div>
              
              <button class="btn btn-primary mt-4 d-block w-100" type="submit">Verify</button>
              
              <p class="mb-0 mt-3 text-center">Already have an account? <a class="btn-link" href="/">Login</a> </p>
            </form>

          </div>
        </div>
      </div>

    </div>

  </main>
{% endblock %}