{% extends 'index/base.html' %}
{% load static %}
{% block main_content %}
  <!-- Main Content -->
  <main class="body-content">

    <!-- Body Content Wrapper -->
    <div class="ms-content-wrapper ms-auth">

      <div class="ms-auth-container">
        <div class="ms-auth-col">
          <div class="ms-auth-bg"></div>
        </div>
        <div class="ms-auth-col">
          <div class="ms-auth-form">
            <form class="needs-validation" method="post" action="{% url 'profiles' %}" novalidate="">
              {% csrf_token %}
              <h3>Create Account</h3>
              <p>Please enter personal information to continue</p>
              <div class="col-md-4">
                <label for="validationCustom04">Register As</label>
                
                
              </div>
              <div class="mb-3">
                <label for="validationCustom08">Email Address</label>
                <div class="input-group">
                  <input type="text" class="form-control" name="role" id="validationCustom08" placeholder="Email Address" required="">
                  <div class="invalid-feedback">Please provide a valid email.</div>
                </div>
              </div>
            
             
              <button class="btn btn-primary mt-4 d-block w-100" type="submit">Create Account</button>
              
              <p class="mb-0 mt-3 text-center">Already have an account? <a class="btn-link" href="{% url 'index' %}">Login</a> </p>
            </form>

          </div>
        </div>
      </div>

    </div>

  </main>
{% endblock %}